[package]
name = "db"
version = "0.1.0"
edition.workspace = true
repository.workspace = true

[dependencies]
sqlx = { workspace = true, features = ["sqlite", "runtime-tokio"] }

models.workspace = true
